<!DOCTYPE html>
<html lang="en">
<base href="/">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Dashboard</title>

    <!-- Custom fonts for this template-->
    <link href="../assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../../assets/css/sb-admin-2.min.css" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="../../assets/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
    <style>
        .cropped2 {
            width: 300px; /* width of container */
            height: 300px; /* height of container */
            object-fit: cover;
            object-position: 20% 10%; /* try 20px 10px */
            border: 0px solid black;
        }

        .cropped-image {
            height: 300px; /* height of container */
        }
    </style>
</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    {{template "navigator" .}}
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            {{template "topbar" .}}
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <h1 class="h3 mb-4 text-gray-800">{{.Channel.Name}}</h1>
                {{if .Message}}
                <div class="alert alert-warning" role="alert">
                    {{.Message}}
                </div>
                {{end}}
                <div class="row">
                    <div class="col">
                        <div class="card bg-primary text-white">
                            <div class="card-body">
                                <h5 class="card-title">Channel Detail</h5>
                                <div class="row">
                                    <div class="col text-left">
                                        <p class="card-text">Channel Name: </p>
                                        <p class="card-text">Channel Type: </p>
                                        <p class="card-text">Channel User: </p>
                                        <p class="card-text">Channel Region: </p>
                                        <p class="card-text">Channel Date: </p>
                                    </div>
                                    <div class="col">
                                        <p class="card-text text-black-50">{{.Channel.Name}}</p>
                                        <p class="card-text">{{.ChannelType.Name}}</p>
                                        <p class="card-text">{{.Channel.UserId}}</p>
                                        <p class="card-text">{{.Channel.Region}}</p>
                                        <p class="card-text">{{.Channel.Date}}</p>
                                    </div>
                                </div>
                                <div class="pt-2">
                                    <label class="text-center">Description</label>
                                    <textarea class="form-control" disabled>{{.Channel.Description}}</textarea>
                                </div>
                                <div class="pt-2">
                                    <div class="card-footer  bg-primary">
                                        <button type="button" class="btn btn-primary pt-2 border-white"
                                                data-toggle="modal" data-target="#videoModel">Manage
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card  bg-primary">

                            <div class="card-header text-center container  bg-primary">

                                <img class="img-fluid cropped2" src="data:image/png;base64,{{.Image}}"/>

                            </div>
                            <div class="card-body">
                                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                                    {{if .Image}}
                                    <button type="button" class="btn btn-primary border-white" data-toggle="modal"
                                            data-target="#updatevideoPhoto">Update picture
                                    </button>
                                    {{else}}
                                    <button type="button" class="btn btn-primary border-white" data-toggle="modal"
                                            data-target="#createvideoPhoto">Create picture
                                    </button>
                                    {{end}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row my-2">
                    <div class="col">
                        <div class="card bg-primary">
                            <div class="card-body text-white">
                                <h5 class="card-title">Owner Of Channel</h5>
                                <div class="row">
                                    <div class="col text-left">
                                        <p class="card-text">Name: </p>
                                        <p class="card-text">Surname: </p>
                                        <p class="card-text">Email: </p>
                                        <p class="card-text">Role: </p>
                                    </div>
                                    <div class="col">
                                        <p class="card-text text-black-50">{{.Owner.Name}}</p>
                                        <p class="card-text">{{.Owner.Surname}}</p>
                                        <p class="card-text">{{.Owner.Email}}</p>
                                        <p class="card-text">{{.OwnerRole.Name}}</p>
                                    </div>
                                </div>
                                <hr>
                                <button href="/user/user/user/{{.Owner.Email}}" class="btn btn-primary border-white"><i
                                        class="fa fa-eye"></i> View
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card bg-primary">
                            <div class="card-body text-white">
                                <h5 class="card-title">Client Of Channel</h5>
                                {{if .Client.Name}}

                                <div class="row">
                                    <div class="col text-left">
                                        <p class="card-text">Name: </p>
                                        <p class="card-text">Surname: </p>
                                        <p class="card-text">Email: </p>
                                        <p class="card-text">Role: </p>
                                    </div>
                                    <div class="col">
                                        <p class="card-text text-black-50">{{.Client.Name}}</p>
                                        <p class="card-text">{{.Client.Surname}}</p>
                                        <p class="card-text">{{.Client.Email}}</p>
                                        <p class="card-text">{{.ClientRole.Name}}</p>
                                    </div>
                                </div>
                                <hr>
                                <button href="/user/user/user/{{.Client.Email}}" class="btn btn-primary border-white"><i
                                        class="fa fa-eye"></i> View
                                </button>
                                {{else}}
                                <i class="fa fa-toolbox fa-5x " style="color: red"></i>
                                {{end}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; Your Website 2020</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<div class="modal fade" id="createvideoPhoto" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <p class="card-title">Update Video picture</p>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="user" action="/video/video-data/create" method="post" enctype="multipart/form-data">

                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="updatevideoPhoto" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <p class="card-title">Update Video picture</p>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="user" action="/video/video-data/update" method="post" enctype="multipart/form-data">

                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="updatevideo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <p class="card-title">Update Video</p>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="user" action="/video/video-data/video-update" method="post" enctype="multipart/form-data">

                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<!-- User Modal-->
<div class="modal fade" id="videoModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="modal-header">
                    <form class="user" action="/video/video/update" method="post">

                    </form>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="userAccountModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="user" action="/user/account/update" method="post">
                    <input type="date" name="birthdate" hidden>

                    <div class="form-group">
                        <input type="text" name="email" value="" class="form-control" placeholder="Email Address"
                               required readonly="true">
                    </div>
                    <div class="form-group">
                        <input type="text" name="customerId" value="" class="form-control" required readonly="true">
                    </div>
                    <div class="form-group">
                        <input type="text" name="password" value="" class="form-control" required readonly="true">
                    </div>

                    <div class="form-group">
                        <select name="status" class="browser-default custom-select ">

                            <option value="true">Activate</option>
                            <option value="false">Deactivate</option>
                        </select>
                    </div>
                    <button type="submit" id="userAccountUpdate" class="btn btn-primary  btn-block">
                        Update
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<script src="../../assets/vendor/jquery/jquery.min.js"></script>
<script src="../../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="../../assets/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="../../assets/js/sb-admin-2.min.js"></script>

</body>
<script>

</script>

</html>